// panel-linkss

.panel-links-variant(@border; @heading-text-color; @heading-bg-color; @heading-border) {
  border-color: @border;

  & > .panel-links-heading {
    color: @heading-text-color;
    background-color: @heading-bg-color;
    border-color: @heading-border;

    + .panel-links-collapse > .panel-links-body {
      border-top-color: @border;
    }
    .badge {
      color: @heading-bg-color;
      background-color: @heading-text-color;
    }
  }
  & > .panel-links-footer {
    + .panel-links-collapse > .panel-links-body {
      border-bottom-color: @border;
    }
  }
}
