{% extends 'berou/base.html' %}
{% load i18n %}
{% block content %}
<div class="row">
    <form action="" method="post">
        {% csrf_token %}
        <h3>{% trans "Are you sure you want to uninstall" %} <a href="{{ object.name }}">{{ object.name }}</a>?</h3>
        <button class="btn btn-primary" type="submit">{% trans "Confirm" %}</button>
    </form>
</div>
{% endblock content %}
