{% extends 'berou/base.html' %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="panel-links panel-links-default">
        <div class="panel-links-heading">
            <h4>{% trans "List of apps" %}</h4>
        </div>
        <div class="panel-links-body">
            <ul class="list-group">
                {% for app in object_list %}
                <li class="list-group-item">{{ app.package }}
                {% if user in app.users.all %}
                <button class="label label-default">{% trans "Enabled" %}</button>
                <form class="pull-right" method="POST" action="{% url 'application_system:disable_app' package=app.package %}">
                    {% csrf_token %}
                    <button class="pull-right btn btn-danger">{% trans "Disable" %}</button>
                </form>
                {% else %}
                <form class="pull-right" method="POST" action="{% url 'application_system:activate_app' package=app.package %}">
                    {% csrf_token %}
                    <input name="package" value="{{ app.package }}" type="hidden" />
                    <button class="btn btn-info">{% trans "Enable" %}</button>
                </form>
                {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
