{% extends 'berou/base.html' %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="panel-links panel-links-default">
        <div class="panel-links-heading">
            <h4>{% trans "List of apps" %}</h4>
        </div>
        <div class="panel-links-body">
            <ul class="list-group">
                {% for app in object_list %}
                <li class="list-group-item">{{ app.slug }}</a>
            {% if user.is_authenticated %}
            <a href="{% url 'application_system:uninstall_app' slug=app.slug %}" class="btn btn-danger pull-right">
                {% trans "Uninstall" %}
            </a>
            {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
