{% extends 'berou/base.html' %}
{% load form_helpers i18n %}
{% block content %}
<div class="row">
    <form method="POST">
        {% csrf_token %}
        {% include "berou/includes/field.html" with field=form.old_password %}
        {% include "berou/includes/field.html" with field=form.new_password1 %}
        {% include "berou/includes/field.html" with field=form.new_password2 %}
        <button class="btn btn-primary" type="submit">{% trans "Change password" %}</button>
    </form>
</div>
{% endblock content %}
