{% extends 'berou/base.html' %}
{% load staticfiles form_helpers i18n %}
{% block content %}
<div class="row">
    <h1>{% trans "Login" %}</h1>
    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            <ul class="list-unstyled">
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="form-group{% if form.username.errors %} has-error{% endif %}">
            <label class="control-label col-md-2" for="{{ form.username.auto_id }}">{{ form.username.label }}</label>
            <div class="col-md-10">
                {# add_attribute":placeholder:" removes the placeholder add by the login view #}
                {{ form.username|add_class:"form-control"|add_attribute:"placeholder:" }}
                {% if form.username.errors %}
                <ul class="list-unstyled">
                    {% for error in form.username.errors %}
                    <li><small class="help-block" style="display: block;">{{ error }}</small></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="form-group{% if form.password.errors %} has-error{% endif %}">
            <label class="control-label col-md-2" for="{{ form.password.auto_id }}">{{ form.password.label }}</label>
            <div class="col-md-10">
                {{ form.password|add_class:"form-control"|add_attribute:"placeholder:" }}
                {% if form.password.errors %}
                <ul class="list-unstyled">
                    {% for error in form.password.errors %}
                    <li><small class="help-block" style="display: block;">{{ error }}</small></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="{% url 'accounts:register_user' %}">{% trans "Register new account" %}</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary" type="submit">{% trans "Login" %}</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
