{% extends 'berou/base.html' %}
{% load staticfiles form_helpers i18n %}
{% block content %}
<div class="row">
    <h1>{% trans 'Register' %}</h1>
    <form class="form-horizontal" method="POST">
        {% csrf_token %}
        <div class="form-group{% if form.username.errors %} has-error{% endif %}">
            <label class="control-label col-md-2" for="{{ form.username.auto_id }}">{{ form.username.label }}</label>
            <div class="col-md-10">
                {{ form.username|add_class:"form-control" }}
                {% if form.username.errors %}
                <ul class="list-unstyled">
                    {% for error in form.username.errors %}
                    <li><small class="help-block" style="display: block;">{{ error }}</small></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="form-group{% if form.email.errors %} has-error{% endif %}">
            <label class="control-label col-md-2" for="{{ form.email.auto_id }}">{{ form.email.label }}</label>
            <div class="col-md-10">
                {{ form.email|add_class:"form-control" }}
                {% if form.email.errors %}
                <ul class="list-unstyled">
                    {% for error in form.email.errors %}
                    <li><small class="help-block" style="display: block;">{{ error }}</small></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="form-group{% if form.password1.errors %} has-error{% endif %}">
            <label class="control-label col-md-2" for="{{ form.password1.auto_id }}">{{ form.password1.label }}</label>
            <div class="col-md-10">
                {{ form.password1|add_class:"form-control" }}
                {% if form.password1.errors %}
                <ul class="list-unstyled">
                    {% for error in form.password1.errors %}
                    <li><small class="help-block" style="display: block;">{{ error }}</small></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="form-group{% if form.password2.errors %} has-error{% endif %}">
            <label class="control-label col-md-2" for="{{ form.password2.auto_id }}">{{ form.password2.label }}</label>
            <div class="col-md-10">
                {{ form.password2|add_class:"form-control" }}
                {% if form.password2.errors %}
                <ul class="list-unstyled">
                    {% for error in form.password2.errors %}
                    <li><small class="help-block" style="display: block;">{{ error }}</small></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary" type="submit">{% trans "Register" %}</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
